/* lehuteerz 2024*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --main-color2: #d3ad7f;
  --main-color: #ee9349;
  --white: #fcfcfc;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 165, 0.3);
  --border2: 0.2rem solid rgba(255, 165, 0.4);
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: #222;
}


section {
  max-width: 100%;
  padding: 20px;

}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
}

img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
}

.logo img {
  width: 50px;
  height: 50px;
}


.header {
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  border-bottom: var(--border);
  flex-wrap: nowrap;
}

.header .logo img {
  padding: 0 20px;
  width: 50px;

}

.navbar {
  display: flex;
  gap: 3rem 0;
}

.navbar a {
  color: #fff;
  padding: 4rem 3rem;
  font-size: 1.8rem;
}

.navbar a.active,
.navbar a:hover {
  color: var(--black);
  background-color: var(--white);
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  padding: 3.5rem 0;
  margin: 0 20px;
}

.navbar.show {
  display: block;
}

.navbar a.ativo {
  color: var(--black);
  background-color: var(--white);
}



main .photo-principal {
  justify-content: center;
  align-items: center;
}

.home-container  {
  display: grid;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.8)), url("/img/home.png") no-repeat center center/cover;
  width: 100%;
  height: 100%;
}


.photo-principal .home-container .content-text {
  padding-top: 300px;
  padding-bottom: 200px;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.photo-principal .home-container .content-text h3 {
  padding-bottom: 30px;

}


.photo-principal .home-container .content-text .btn-top {
  background: var(--main-color);
  color: #fff;
  border-radius: 5px;
  padding: 20px 60px;
  font-size: 1.7rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;

}


.photo-principal .home-container .content-text .btn-top:hover {
  letter-spacing: 0.1rem;
  color: #000;
  font-weight: 500;
}


.btn {
  background: var(--main-color);
  color: #fff;
  padding: 2rem 3rem;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.7rem;
  cursor: pointer;
  text-transform: uppercase;
}



.content {
  min-width: auto;
}

.content h3 {
  color: var(--white);
  margin: 0 12px;

  font-size: 6rem;
}

.content p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.8;
  padding: 1rem 0;
  display: inline-block;
}

.title {
  font-size: 5rem;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 7rem;
  text-align: center;
}

.title span {
  color: rgb(206, 206, 206);
  text-transform: uppercase;
}

section .row {
  border: var(--border);
}

.sobre .row {
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  gap: 2.5rem;
  min-width: 10%;
}

.sobre .row img {
  min-width: 60vh;
  min-height: 40vw;
}

.sobre .row .content h3 {
  font-size: 3rem;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
}

.sobre .row .content p {
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.8;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
}

.sobre .row .content span {
  color: #535353;
  font-weight: 800;
  font-family: sans-serif;

}



.contatos .title {
  text-align: center;

}


.row.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}






.contact-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f2;
  border: var(--border2);
  border-radius: 5px;
}

.contact-info h2 {
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 10px;
}

.info-box {
  text-align: center;
  width: 30%;
  /* Ajuste de acordo com suas necessidades */
  padding: 20px;
  border-right: 1px solid #000;
}

.info-box:last-child {
  border-right: none;
  /* Remove a borda do último elemento */
}






.container {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  justify-items: stretch;
  flex-direction: row-reverse;
}


.container-image {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


.container-image img {
  width: 50%;
  height: 20px;
}

.info-block {
  flex: 1;
  max-width: 236px;
  border: var(--border2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon-container {
  margin-bottom: 20px;
}

.text-container .title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.info-list {
  font-size: 1.4rem;
  list-style: none;
  padding: 0;
}

.info-item {
  padding: auto;
  margin: auto;
  margin-bottom: 10px;
}

.info-text {
  padding: auto;
  margin: auto;
  font-size: 1em;
}

.text-bold {
  font-size: 1.5rem;
  font-weight: 600;
}

.box {
  display: contents;
  width: 100%;
  margin: 20px 0;
}

.maps {
  display: none;
  text-align: center;
}

.maps img {
  max-width: 100%;
  height: auto;
}



.contact-info i {
  margin-right: 10px;
}

.social-media {
  margin-top: 20px;
}

.box {
  border: var(--border2);
  flex: 1;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 10px;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5.5rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.box-container .box {
  border-radius: 5px;
  text-align: center;
  border: var(--border2);
  padding: 5rem;
}

.feedback {
  padding: 10px 5px;
}

.feedback .customers {
  display: flex;
  gap: 40px;
}

.feedback .customers .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: var(--border2);
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feedback .customers .item .rating {
  color: var(--main-color);
  font-size: 22px;
}

.feedback .customers .item:hover {
  border-color: var(--black);
}

.feedback .customers .item p {
  line-height: 22px;
  font-size: 14px;
}

.feedback .customers .item .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feedback .customers .item .user img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .customers .item .user h5 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 3px;
}

.feedback .customers .item .user p {
  font-size: 12px;
}



.menu .box-container .box img {
  height: 10rem;
  mix-blend-mode: multiply;
}

.menu .box-container .box h3 {
  color: #333;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box:hover {
  background: var(--main-color);
}

.menu .box-container .box:hover>* {
  color: var(--black);
}

.menu .box-container .box:hover .btn {
  background: var(--black);
  color: #fff;
}

.box-container .box {
  display: flex;
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 200px;
}

.text-center {
  display: inline-grid;
  text-align: center;
  font-size: 16px;
}

.social-media span {
  color: #7a6244;
  padding-top: 10px;
text-transform: uppercase;
}

.review .box-container .box p {
  font-size: 1.5rem;
  color: var(--black);
  padding: 2rem 0;
  line-height: 1.8;
  font-weight: lighter;
}

.review .box-container .box h3 {
  font-size: 3rem;
}

.review .box-container .box h4 {
  font-size: medium;
  color: #daa15c;
  padding: 4px;
}

.review .box-container .box .user {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.user .closet:hover {
  background: var(--main-color);
}

.box {
  border: var(--border);
  flex: 1;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#box2 {
  background: var(--main-color);
}

#box2 .btn {
  background: var(--black);
}

#box2 .btn:hover {
  background-color: var(--white);
  color: var(--black);
  font-weight: 700;
}

.box .contato {
  padding: 20px;
}

.contato {
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  border: var(--border2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contato h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-size: x-large;
  font-weight: 800;
  line-height: 1.8;
  text-transform: uppercase;
}

.contact-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 16px;
  color: #343434;
}

.contact-info i {
  margin-right: 10px;
  color: var(--black);
}

.contact-info span {
  display: inline-block;
  text-transform: none;
  text-decoration: none;
  color: var(--black);
}

.contact-info a:hover {
  color: var(--black);
  border-bottom: var(--border2);
  padding-bottom: 0.5rem;
}


/* 


/* O restante do CSS permanece o mesmo */
.gallery-container {
  display: flex;
  gap: 60px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.photo-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.photo-card:hover {
  transform: scale(1.05);
}

.photo-card img {
  width: 100%;
  height: auto;
  display: block;
}

.logo-button {
  width: 100%;
  padding: 10px;
  background-color: #ff6600; /* Cor laranja */
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

.logo-button:hover {
  background-color: #e65500;
}
.logo-link {
  display: block;
  padding: 15px;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  background-color: #ff6600;
  color: white;
  font-weight: bold;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2); /* Adiciona uma linha superior */
  transition: background-color 0.3s;
}

.logo-link:hover {
  background-color: #e65500;
}


.social-media {
  display: flex;
  justify-items: center;
  padding: 10px 0;
  margin-top: 20px;
}

.social-media a {
  margin-right: 10px;
  font-size: 24px;
  color: #555;
  text-decoration: none;
}

.social-media a:hover {
  color: #333;
}


.footer {
  text-align: center;
  background: var(--main-color);
  padding: 3rem 0;
  position: relative;
  font-size: 1.6rem;
}

.footer span {
  font-size: 2rem;
  color: aliceblue;
}


#backToTop {
  position: fixed;
  bottom: 10px;
  right: -16px;
  display: none;
  width: 50px;
  height: 50px;
  background: var(--main-color2);
  color: #fff;
  border: var(--border2);
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#backToTop:hover {
  background: #333;
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js [data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js-scroll {
  opacity: 0;
  transform: translate3d(0, -10px, 0);
  transition: opacity 0.5s, transform 0.8s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js-accordion dt.ativo+dd {
  display: block;
}

.js-accordion dt::after {
  content: "⬎";
  margin-left: 10px;
}

.js-accordion dt.ativo::after {
  content: "⬏";
}

.js-accordion dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}

textarea {
  overflow: auto;
}

::selection {
  background-color: #535353;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

h3 {
  padding: 10px 0;
  text-align: center;
}

details {
  padding-top: 20px;
}

summary {
  cursor: pointer;
}

summary>* {
  display: inline;
  padding: 0 20px;
}

details>summary {
  text-align: center;
  /* width: 250px; */
  background-color: rgb(238 147 73);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

details>summary>* {
  font-size: 1.6rem;
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

details>div {
  text-align: center;
  font-size: 1.5rem;
  /* width: 250px; */
  border: 4px solid rgb(238 147 73);
  margin-top: 0;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

details>div p {
  padding: 5px 0;
}

details[open] summary {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

summary[open] {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.contact-details {
  margin-bottom: 20px;
  padding: 20px;
}

.contact-info-section {
  display: flex;
  align-content: space-around;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.contact-info {
  margin-bottom: 10px;
}

.contact-info i {
  margin-right: 10px;
}

.contact-info a {
  color: var(--black);
}

.contact-info a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.social-media {
  margin-top: 20px;
}

.social-media h3 {
  margin-bottom: 10px;
}

.btn:hover {
  background: var(--black);
  color: #fff;
  letter-spacing: 0.1rem;
  font-weight: 500;
  border: var(--border2);
}

.go {
  border-radius: 5px;
  width: 100%;
  height: 500px;
}


/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
}

.modal-content {
  background-color: #fefefe;
  margin: 9% auto; /* Centraliza verticalmente */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Largura máxima do modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Seus estilos para tela pequenas aqui / smartphone */

@media screen and (max-width: 600px) {

  .header {
    width: 100%;
  }

  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background: var(--main-color);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    gap: 0;
  }

  .navbar a {
    padding: 2rem;
    font-size: 3rem;
  }

  .navbar.show {
    display: flex;

  }

  .menu-toggle {
    display: block;
    padding: 20px;


  }

  .sobre .row {
    display: grid;
    padding: 20px;
    justify-items: center;
  }

  .container {
    display: grid;
    margin: 0;
    padding: auto;
  }

  .container-image {
    display: none;

  }

  .content {
    padding: 0 10px;
  }

  .feedback .customers {
    display: grid;
  }

  #backToTop {
    margin-right: 35px;
    margin-bottom: 20px;
  }

  .contact-info h2 {
    font-size: 1.5rem;
  }

  .info-box {
    font-size: 1rem;
  }

  .contact-info-section {
    display: grid;
  }
  .gallery-container {
    flex-direction: column; /* Empilha as fotos uma em cima da outra */
    align-items: center; /* Centraliza as fotos */
    margin: auto;
    width: 66%;
  }

  .photo-card {
    width: 80%; /* Reduz a largura das cartas */
  }

}

/* Seus estilos para telas médias aqui  / tablets*/

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .sobre .row {
    display: grid;
    padding-top: 80px;
    justify-items: center;
  }

  .feedback {
    display: grid;
  }

  .feedback .customers {
    display: flex;
  }


  #backToTop {
    margin-right: 35px;
    margin-bottom: 10px;
  }

  .feedback .customers {
    display: flex;
    gap: 40px;
    /* align-content: center; */
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .feedback .customers .item {
    width: 38%;
  }

  .container-image {
    display: none;
  }
  .gallery-container {
    justify-content: center; /* Centraliza as fotos horizontalmente */
  }
}



/* Seus estilos para telas grandes aqui / desktop*/


@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .info-block {
    max-width: 636px;
  }

  .home-container {
    padding-top: 200px;
    padding-top: 20px;
  }

  .home-container .content-text {
    padding-bottom: 200px;

  }

  .home-container .content-text h3 {
    text-align: center;
    padding-bottom: inherit;
  }


  #backToTop {
    margin-right: 35px;
  }


  .feedback .customers .item .rating {
    font-size: 20px;
  }

  .feedback .customers .item p {
    font-size: 13px;
  }

  .row.hero .container-image>p {
    font-size: 20rem;
  }

  .sobre .row .content p {
    padding: 60px;
    font-size: 3rem;
    font-family: sans-serif;
  }
}